.AuthLogoutForm {
   
}

.AuthLogoutForm button {
    border: none;
    color: rgb(145, 145, 145);
    background: none;
    font-size: 1.2em;
}

.AuthLogoutForm button:hover {
    cursor: pointer;
    color: rgb(94, 94, 94);
}
