.FoodCompareTable {
    display: flex;
    flex-wrap: wrap;
    background: rgb(240, 240, 240);
    border-radius: 0.6em;
    margin: 2em 0;
    overflow: hidden;
}

.FoodCompareCardContent {
    border-right: 1px solid rgb(255, 255, 255);
    width: 10%;
}

.FoodCompareCardContent:last-child {
    border: none;
}

.FoodCompareCardContent div p {
    text-align: center;
    padding: 0.2em 0.6em;
}

.FoodCompareCardContent div p:nth-child(even){
    background: rgb(219, 219, 219);
}

.FoodCompareCardContent div p:nth-child(odd){
    background: rgb(255, 255, 255);
}

.FoodCompareCardContent div p:nth-child(1){
    background: rgb(167, 167, 167);
    color: white;
}

.FoodCompareCardContent:first-child {
    margin-left: 0;
}

.FoodCompareCardContent:last-child {
    margin-right: 0;
}