.Sidebar {
    position: fixed;
    right: 0;
    display: block;
    width: 4em;
    background: rgb(199, 199, 199);
    box-sizing: border-box;
    z-index: 90;
}

.Sidebar nav {
    position: relative;
    display: flex;
    width: 100%;
}

.Sidebar nav ul {
    width: 100%;
}

.Sidebar nav ul li {

}

.Sidebar nav ul li > p {
    border-bottom: 1px solid white;
    background: gray;
    padding: 1em;
}

.Sidebar nav ul li > p:hover {
    cursor: pointer;
}

/* .CartButton {
    position: relative;
} */