    .FoodCard {
        margin: 1em;
        border: 2px solid white;
        border-radius: 0.6em;
        width: 10%;
        box-shadow: 0 0 0.6em 0.1em rgba(0, 0, 0, 0.6);
    }

    .FoodCardMediaContainer {
        position: relative;
        width: 100%;
        /* border: 1px solid red; */
        border-radius: 0.6em;
        overflow: hidden;
    }

    .FoodCardMediaContainer:before {
        display: block;
        content: '';
        padding: 50%;
    }

    .FoodCardMediaContainer img {
        position: absolute;
        height: 100%;
        width: auto;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    .FoodCardContentContainer {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(151, 137, 125, 0.9);
        height: 100%;
        width: 100%;
        padding: 1em 1em;
        text-align: left;
    }

    .FoodCardContentContainer p {
        font-size: 1.1em;
        /* font-weight: bold; */
        color: white;
    }

    .FoodCardHeaderContainer {
        width: 100%;
        padding: 1em;
        background: white;
    }

    .FoodCardHeaderContainer header {
        display: flex;
        width: 100%;
    }

    .FoodCardHeaderContainer header h3 {
        width: 100%;
        text-align: center;
    }

   
    .FoodCardNavigationContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .FoodCardNavigationContainer p {
        width: 100%;
        background: rgb(173, 173, 173);
        margin: 0.2em 0;
        border-radius: 0.2em;
        color: white;
        padding: 0.2em 0.4em;
        margin-left: auto;
        font-size: 0.9em;
        text-align: center;
    }

    .FoodCardNavigationContainer p:hover {
        cursor: pointer;
    }