@keyframes cartShow {
    0%  {
        transform: translate(100%);
    }
    25% {
        transform: translate(75%);
    }
    50% {
        transform: translate(50%);
    }
    75% {
        transform: translate(25%);
    }
    100% {
        transform: translate(0);
    }
}

.Cart {
    display: block;
    position: absolute;
    background: rgb(140, 140, 140);
    width: 26em;
    height: auto;
    border-bottom-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border: 1px solid white ;
    padding: 1em 0.6em 0.6em 0.6em;
    top: 0;
    right: 100%;
    box-shadow: -0.2em 0.2em 0.6em 0.1em rgba(0, 0, 0, 0.767);
    animation: cartShow ease-in-out 0.3s;
}

.CartContent {
    display: flex;
    flex-wrap: wrap;
    padding: 0.6em;
}

.CartContent > p {
    width: 100%;
    margin-bottom: 0.4em;
    margin-top: 0.2em;
    text-align: center;
    font-size: 1.4em;
    /* font-weight: bold; */
    color: white;
}

.CartContent > button {
    border: none;
    width: 12em;
    margin: 0 auto;
    padding: 0.8em;
    /* background: rgb(71, 71, 71); */
    /* color: white; */
    background: rgb(230, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 0.4em;
}

.Cart button:hover {
    cursor: pointer;
    background: rgb(196, 196, 196);
    color: rgb(71, 71, 71);
}

.Cart button:hover::selection {
    border: none;
}

.CartElementsList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-radius: 0.4em;
    padding: 0.6em 0.6em 0.6em 0.6em;
    background: rgb(88, 88, 88);
}

.CartFoodElement {
    display: flex;
    width: 100%;
    padding: 0.4em;
    border-radius: 0.4em;
    background: rgb(110, 110, 110);
    margin-bottom: 0.6em;
    color: white;
}

.CartFoodElementMedia {
    position: relative;
    width: 50%;
    border-radius: 0.4em;
    overflow: hidden;
}

.CartFoodElementMedia:before {
    display: block;
    content: '';
    padding: 50%;
}

.CartFoodElementMedia img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.CartFoodElementContent {
    padding: 0.4em;
    width: 50%;
}
