.AuthRegistrationForm {
    border-radius: 0.2em;
    padding: 1.4em;
    background: rgb(199, 198, 198);
    width: 100%;
    margin: 1em 0;
    /* margin-left: auto; */
}

.AuthRegistrationForm input {
    border: none;
    padding: 0.6em;
    margin-bottom: 0.3em;
    border-radius: 0.2em;
    width: 100%;
}

.AuthRegistrationForm select {
    border: none;
    padding: 0.1em;
    margin-bottom: 0.3em;
    border-radius: 0.2em;
    width: 100%;
}

.AuthRegistrationForm button {
    width: 100%;
    cursor: pointer;
    padding: 0.2em;
}